<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container position-sticky">
        <h1 class="display-4"><a href="{% url 'task:list_task' %}">Todo_app</a></h1>
        <p class="lead">Список ваших задач</p>

        {% if user.is_authenticated %}
        <div class="position-absolute top-0 end-0 m-3">
            <h3><a href="{% url 'user_profile' %}">{{ user.first_name }} {{ user.last_name }}</a></h3>
            <a class="btn btn-primary m-1" href="{% url 'logout' %}">Вийти</a>
        </div>

        <hr class="my-4">

        <div class="d-flex justify-content-xl-end">
            <a class="btn btn-primary m-1" href="{% url 'user_profile' %}">Профіль</a>
            <a class="btn btn-primary m-1" href="{% url 'task:list_task' %}">Список задач</a>
            <a class="btn btn-primary m-1" href="{% url 'task:add_task' %}">Додати задачу</a>
            <a class="btn btn-primary m-1" href="{% url 'task:statistic' %}">Статистика задач</a>
        </div>

        <hr class="my-4">
        {% endif %}
    </div>
</div>

{% block content %}{% endblock %}

</body>
<footer class="page-footer font-small blue">
    <div class="container position-sticky">
        <hr class="my-4">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm">
                    {% if user.is_authenticated %}
                    <p class="display-8">Проект: <a href="{% url 'task:list_task' %}">Todo_app</a></p>
                    <p class="display-8">Користувач: <a href="{% url 'user_profile' %}">{{ user.first_name }} {{ user.last_name }}</a></p>
                    {% endif %}
                </div>
                <div class="col-sm">
                    <p>GitHub: <a href="#">ToDo_App</a></p>
                    <p>LinkedIn: <a href="https://www.linkedin.com/in/vitaliy-kuzhil-0a9722163/">Profile</a></p>
                </div>
                <div class="col-sm">
                    <p>Resume: <a href="https://drive.google.com/file/d/1o2badADWMwdV5ceEKmPy4D2tFGX7_9Uz/view">
                        PythonCV</a></p>
                    <p>Dou: <a href="https://dou.ua/users/vitaliy-kuzhil-1/">Profile</a> </p>
                </div>
            </div>
        </div>
        <div class="text-center">
        (Python/Django/DRF/PostgreSQL/pgAdmin/Docker/Docker-Compose/Redis/Celery/Celery-Beat/Git)
            <br>
        © 2022 Vitaliy Kuzhil
        </div>
    </div>
</footer>
</html>