{% extends 'task/index_task.html' %}

{% block title %}Список завдань{% endblock %}

{% block content %}

<div class="d-flex justify-content-center p-2">
    <form class="col-lg-9 mb-4" role="search" action="" method="get">
        <input type="search" name="search" class="form-control rounded form-control-dark text-primary bg-while" placeholder="Пошук">
    </form>
</div>

<div class="container">
{% for task in page_obj %}
    <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'task:task_detail' task.id %}">
            <div class="card-header">
                <h6>Важливість: </h6><p>{{task.importance}}</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{task.title}}</h5>
                <p class="card-text">{{task.description|slice:250}}</p>
            </div>
            <div class="card-footer d-flex justify-content-xl-end mr-1">
                <h6>Статус виконання: </h6><p>{{task.status}}</p>
                <h6>Дата дедлайну: </h6><p>{{task.deadline_date}}</p>
            </div>
        </a>
    </div>
    <br>
{% endfor %}
    <div class="pagination btn-group btn-group-sm justify-content-center" role="group">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-primary" role="button" href="?page=1">&laquo; Перша</a>
                <a class="btn btn-primary" role="button" href="?page={{ page_obj.previous_page_number }}">Попередня</a>
            {% endif %}

            <span class="current">
                Сторінка - {{ page_obj.number }} з {{ page_obj.paginator.num_pages }} сторінок.
            </span>

            {% if page_obj.has_next %}
                <a class="btn btn-primary" role="button" href="?page={{ page_obj.next_page_number }}">Наступна</a>
                <a class="btn btn-primary" role="button" href="?page={{ page_obj.paginator.num_pages }}">Остання &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}