{% extends 'task/index_task.html' %}

{% block title %}Статистика{% endblock %}

{% block content %}
<div class="container">
    <table class="table">
        <h1 class="border-bottom">Статистика</h1>
        <thead>
            <tr>
                <th scope="col">{{user.first_name}} {{user.last_name}}</th>
                <th></th>
                <th scope="col">Усі завдання:</th>
                <th scope="col">{{all_task}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"></th>
                <td class="text-uppercase" colspan="2">Статистика виконання</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Потрібно зробити:</td>
                <td>{{completed_todo}}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>В процесі:</td>
                <td>{{completed_in_progress}}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Заблоковано:</td>
                <td>{{completed_blocked}}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Виконано:</td>
                <td>{{completed_finished}}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td class="text-uppercase" colspan="2">Статистика пріоритету</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Низький:</td>
                <td>{{priority_low}}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Серезній:</td>
                <td>{{priority_medium}}</td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"></th>
                <td>Високий:</td>
                <td>{{priority_high}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
