{% extends 'task/index_task.html' %}

{% block title %}Профіль{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="container">
                <h3 class="card-title">{{user.first_name}} {{user.last_name}}</h3>
                <h6>Електронна адреса: </h6><p class="card-text">{{user.email}}</p>
                <h6>Позиція: </h6><p class="card-text">{{user.position}}</p>
            </div>
            <a href="{% url 'update_user_profile' user.id %}" >Змінити дані</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}